.main {
    text-align: center;
    width: 564px;
    margin: auto;
}
.block {
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 240px;
    height: 84px;
    margin: 10px;
    padding: 10px;
}
.loader {
    margin: 20px;
}